{% extends "ecloreuserBundle::page_lambda.html.twig" %}

{% block title %}Espace membre{% endblock %}
{%set color='vert'%}
{%set first='Mon Éclore'%}
{%set second='Espace personnel'%}


{% block content %}
fiche de {{u.username}}
{%if u in app.user.contacts and app.user.privacyLevel == 1 %}
    {{u}}, {{u.age}} ans.<br>
    <img src="{{app.request.basepath}}/{{ u.getHeadshotWebPath }}" width='100'>
    Téléphone: {{u.mobile}}<br>
    Mail: {{u.email}}<br>
    {% if u.hasRole('ROLE_ASSOM') %}
        Fonction: {{u.assoM.quality}}<br>
        Associations: {{u.assoM.associations|join(', ')}}<br>
    {%elseif u.hasRole('ROLE_INSTM') %}
        Fonction: {{u.instM.quality}}<br>
        Institutions: {{u.instM.institutions|join(', ')}}<br>
    {%elseif u.hasRole('ROLE_YOUNG') %}
        Institutions: {{u.young.institutions|join(', ')}}<br>
    {%endif%}
{%elseif contactRequested %}
    Une demande de contact est déjà en attente de validation.
{%else%}
    <a href="{{ path('user_send_contactNot', {'id':u.id})}}">Envoyer une demande de contact</a>
{%endif%}
{% endblock %}
